.pianoPage {
  align-items: center;
}

h1 {
  text-align: center;
}

.piano {
  display: flex;
  justify-content: center;
}

.white-key {
  width: 100px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  color: red;
  text-align: center;
}

.black-key {
  width: 60px;
  height: 250px;
  margin-left: -30px;
  margin-right: -30px;
  background-color: black;
  border: 1px solid black;
  z-index: 1;
  color: red;
  text-align: center;
}